@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="line-height:0.5" class="text-center">
        <img src="/Assets/logo.png" class="rounded" alt="...">
        <h1 class="display-4">Welcome To Universitas Indonesia</h1>
    </div>
</div>
