@model UniversitasIndonesia.Models.Mahasiswa
@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-info pl-3"><i class="fas fa-edit"></i> Edit</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Fakultas"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Fakultas" class="form-control" />
                        <span asp-validation-for="Fakultas" class="text-danger"></span>

                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Jurusan"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Jurusan" class="form-control" />
                        <span asp-validation-for="Jurusan" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Update" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>
</form>